body {
	display: grid;
	margin: 0;
	width: 100vw;
	height: 100vh;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(5, 1fr);
	background-color: rgb(46, 48, 49);
	color: rgb(218, 219, 219);
	line-height: 2em;
}

a, a:visited, a:hover {
	color: rgb(218, 219, 219);
}

dt, dd {
  display: inline;
}

dt:before {
  content: "";
  display: block;
}

dt {
	font-weight: bold;
}

dt::after {
  content: ": ";
}

dd {
	margin: 0;
}

.navigation {
	grid-column: 3 / 5;
	grid-row: 1;
	justify-self: center;
	font-size: 1.5em;
}

.system {
	display: inline-grid;
	grid-row: 2;
	grid-column: 3 / 5;
}

.system .informations{
	grid-column: 1;
}

.system .count {
	grid-column: 2;
}

.system .resources {
	grid-column: 3;
}

.images {
	grid-column: 2 / 6;
	grid-row: 2;
}

.image {
	grid-column: 2 / 6;
	grid-row: 2;
}

.containers {
	grid-column: 2 / 6;
	grid-row: 2;
}

.container {
	grid-column: 2 / 6;
	grid-row: 2;
}

.logs {
	grid-column: 1 / 6;
	grid-row: 2;
}

.search {
	grid-column: 2 / 6;
	grid-row: 2;
}
