{{ template "header" }}
<main class="containers">
<table>
	<thead>
		<tr>
			<td>Status</td>
			<td>Name</td>
			<td>Image</td>
		</tr>
	</thead>
	<tbody>
	{{ range . }}
  <tr id="{{ .ID }}">
		<td>
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 20 20">
				<circle cx="10" cy="11" r="3" fill="{{ .StatusColor }}"/>
			</svg>
		</td>
    <td><a href="/containers/{{ .ID }}">{{ .Name }}</a></td>
		<td><a href="/images/{{ .ImageID }}">{{ .Image }}</a></td>
	</tr>
	{{ end }}
	</tbody>
</table>
</main>
{{ template "footer" }}
