{{ template "header" }}
<main class="system" data-controller="events">
<section class="informations">
	<h2>Informations</h2>
	<dl>
		<dt>Driver</dt>
		<dd>{{ .Info.Driver }}</dd>

		<dt>Kernel version</dt>
		<dd>{{ .Info.KernelVersion }}</dd>

		<dt>Operating System</dt>
		<dd>{{ .Info.OperatingSystem }} - {{ .Info.OSType }}</dd>

		<dt>Architecture</dt>
		<dd>{{ .Info.Architecture }}</dd>
	</dl>
</section>
<section class="count">
	<h2>Count</h2>
	<dl>
		<dt>Containers</dt>
		<dd>{{ .Info.Containers }}</dd>

		<dt>Containers Running</dt>
		<dd>{{ .Info.ContainersRunning }}</dd>

		<dt>Containers Paused</dt>
		<dd>{{ .Info.ContainersPaused }}</dd>

		<dt>Containers Stopped</dt>
		<dd>{{ .Info.ContainersStopped }}</dd>

		<dt>Images</dt>
		<dd>{{ .Info.Images }}</dd>
	</dl>
</section>
<section class="resources">
	<h2>Resources</h2>
	<dl>
		<dt>CPU</dt>
		<dd>{{ .Info.NCPU }}</dd>

		<dt>Memory</dt>
		<dd data-controller="bytes" data-bytes-format="iec">{{ .Info.MemTotal }}</dd>

		<dt>Goroutines</dt>
		<dd>{{ .Info.NGoroutines }}</dd>
	</dl>
</section>
<section class="disk-usage">
	<h2>Disk usage</h2>
	<dl>
		<dt>Containers size</dt>
		<dd data-controller="bytes">{{ .ContainersSize }}</dd>
		<dt>Images size</dt>
		<dd data-controller="bytes">{{ .ImagesSize }}</dd>
		<dt>Layers size</dt>
		<dd data-controller="bytes">{{ .LayersSize }}</dd>
		<dt>Volumes size</dt>
		<dd data-controller="bytes">{{ .VolumesSize }}</dd>
	</dl>
</section>
</main>
{{ template "footer" }}
