{{ define "header" }}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Docker console</title>
    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/main.css">
    <script src="/assets/stimulus.umd.js"></script>
    <script src="/assets/turbolinks.js"></script>
    <script src="/assets/main.js" defer></script>
  </head>
  <body>
    <nav class="navigation">
      <a href="/">System</a>
      <a href="/images">Images</a>
      <a href="/containers">Containers</a>
      <a href="/logs">Logs</a>
      <a href="/search">Search</a>
    </nav>
{{ end }}

{{ define "footer" }}
  </body>
</html>
{{ end }}
